BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterEnum: false
  AfterStruct: false
  BeforeElse: false
  IndentBraces: false
